{% extends 'profil.html' %}
{% load staticfiles %}
{% block wypiszUlubione %}
{% for ksiazka in bookList %}
<img height="350" width="220"
     src='https://storage.googleapis.com/solwit-pjatk-arc-2018-gr1.appspot.com/{{ ksiazka.bookCover }}'
     alt="Book Cover"/>
<h2><span id="rowName">Nazwa ksiązki: </span><span id="rowConName">{{ ksiazka.name }}</span></h2>
<h2><span id="rowName">Autor: </span><span id="rowConName">{{ ksiazka.author }}</span></h2>
<h2><span id="rowName">Cena: </span><span id="rowConName">{{ ksiazka.cena }}</span></h2>

<hr>
{% endfor %}
{% endblock %}
